/BraveSoftware
/alacritty
/btop
/chromium
/chromium-flags.conf
/dconf
/environment.d
/fcitx/dbus
/fcitx5
/fish/conf.d
/gh
/ghostty
/git
/go/telemetry/local
/google-chrome/NativeMessagingHosts
/google-chrome-beta/NativeMessagingHosts
/google-chrome-unstable/NativeMessagingHosts
/gtk-3.0
/herdr
/ibus/bus
/hyprland-preview-share-picker
/imv/config
/kitty
/lazygit
/libreoffice/4
/micro
/microsoft-edge/NativeMessagingHosts
/microsoft-edge-dev/NativeMessagingHosts
/mozilla/firefox
/nvim
/obsidian
/omarchy
/opencode
/pulse
/rclone
/starship.toml
/systemd/user
/tenacity
/tensaku
/tigervnc
/user-dirs.dirs
/uv
/voxtype
/wireplumber/wireplumber.conf.d
/xournalpp
